body {
  font-family: 'Patua One', cursive;
  color: #4A6FF1;
}
.container {
  position: relative;
  width: 375px;
  height: 667px;
  border: 1px solid black;
  background: linear-gradient(180deg, #FFB13B 0%, #FFFFFF 53.69%, #FFB13B 100%);
}
.header {
  position: relative;
  width: 326px;
  left: 25px;
  top: 14px;
  text-align: center;
  border: 2px solid #4A6FF1;
  border-radius: 10px;
}
.fullButton {
  background-color: #96abf8;
  width: 311px;
  height: 38px;
  border-radius: 10px;
  color: rgb(15, 65, 247);
}
.halfButton {
  background-color: #96abf8;
  width: 120px;
  height: 38px;
  border-radius: 10px;
}
/* home page */
.homeHeader {
  position: relative;
  width: 326px;
  height: 80px;
  left: 12px;
  top: 14px;
  text-align: center;
  border: 2px solid #4A6FF1;
  border-radius: 10px;
  height: 100px;
  font-size: 31px;
}

/* Enter Meal */
.input {
  position: relative;
  width: 327px;
  height: 70px;
  left: 10px;
  top: 27px;
  font-size: 30px;
  border: 2px solid #4A6FF1;
  border-radius: 10px;
  text-align: center;
}
.inputButton {
  position: relative;
  width: 327px;
  top: 40px;
  left: 10px;
  font-size: 20px;
}
.listBox {
  position: relative;
  top: 57px;
  left: 10px;
  border: 2px solid #4A6FF1;
  border-radius: 20px;
  height: 350px;
  width: 326px;
}
.listMeals {
  position: relative;
  left: 10px;
}
.listMeals p {
  left: 15px;
}
.listBox button {
  position: relative;
  left: 90px;
}
/* Enter Effect */
.effectLabel {
  position: relative;
  top: 10px;
  left: 10px;
  width: 327px;
  height: 100px;
  font-size: 30px;
  border: 2px solid #4A6FF1;
  border-radius: 10px;
  text-align: center;
}
.effectBox {
  position: relative;
  top: 20px;
  left: 10px;
  width: 327px;
  height: 350px;
  font-size: 20px;
  border: 2px solid #4A6FF1;
  border-radius: 10px;
}
.effectBox p {
  position: relative;
  left: 15px;
}
.effectBox img {
  position: relative;
  height: 25px;
  width: 25px;
  float: right;
  right: 34px;
}
.enterButtons {
  position: relative;
  top: 75px;
  left: 56px;
}
/* choose effect */
.chooseEffectFood {
  text-align: center;
}
.chooseEffectBox {
  width: 327px;
  height: 363px;
  font-size: 50px;
  border: 2px solid #4A6FF1;
  border-radius: 10px;
}
.chooseEffectFaces img {
  height: 80px;
  width: 80px;
}
.chooseEffectFaces p {
  font-size: 30px;
}
.chooseEffectFaces img {
  position: relative;
}
/* see today */
.chooseList {
  width: 327px;
  font-size: 30px;
  border: 2px solid #4A6FF1;
  border-radius: 10px;
  text-align: center;
}
.seeToday {
  position: relative;
  left: 23px;
  width: 327px;
  font-size: 30px;
  border: 2px solid #4A6FF1;
  border-radius: 10px;
  text-align: center;
}
.seeList {
  width: 327px;
  height: 385px;
  font-size: 30px;
  border: 2px solid #4A6FF1;
  border-radius: 10px;
  text-align: center;
  overflow: scroll;
}
.seeList img {
  position: relative;
  height: 25px;
  width: 25px;
  left: 150px;
}
.seeList p {
  position: relative;
  left: 15px;
}
.seeListButton {
  background-color: #96abf8;
  width: 120px;
  height: 38px;
  border-radius: 10px;
  font-size: 20px;
  padding: 3px 10px;
}
/* open page */
.openBox {
  position: relative;
  top: 30px;
  left: 10px;
  border: 2px solid #4A6FF1;
  border-radius: 20px;
  height: 450px;
  width: 326px;
}
.openBox button {
  position: relative;
  top: 10px;
  left: 4px;
  background-color: #96abf8;
  height: 70px;
  border-radius: 10px;
  font-size: 25px;
}
