.button {
	padding: 8px 24px;
	margin: 0 12px;
	border: 4px solid var(--primary-6);
	border-radius: 24px;
	font-weight: 700;
	font-size: 1.4em;
	color: var(--primary-6);
	background-color: var(--primary-0);
}
.button:hover,
.button:active {
	background-color: var(--primary-6);
	color: var(--primary-0);
	cursor: pointer;
}

/*
.container {
  width: 375px;
  height: 667px;
  border: 1px solid black;
  background: linear-gradient(180deg, #FFB13B 0%, #FFFFFF 53.69%, #FFB13B 100%);
}
.header {
  width: 326px;
  text-align: center;
  border: 2px solid #4A6FF1;
  border-radius: 10px;
}
.fullButton {
  background: linear-gradient(45deg, #96abf8 0%, #d3dcf8 50%, #becaf3 100%);
  width: 326px;
  height: 65px;
  border-radius: 10px;
  font-size: 30px;
  color: #0f41f7;
  cursor: pointer;
}
.halfButton {
  background: linear-gradient(45deg, #96abf8 0%, #d3dcf8 50%, #becaf3 100%);
  width: 326px;
  height: 38px;
  border-radius: 10px;
  color: #0f41f7;
  font-size: 20px;
  cursor: pointer;
}
.fullButton:hover {
  height: 70px;
  width: 331px;
  box-shadow: 2px 2px #0f41f7;
}
.halfButton:hover {
  height: 43px;
  width: 331px;
  box-shadow: 2px 2px #0f41f7;
}
/* login-signup
.ls-icons img {
  height: 100px;
  width: 100px;
}
.ls-icons div {
  font-size: 80px;
}
/* home page
.homeHeader {
  text-align: center;
  border: 2px solid #4A6FF1;
  border-radius: 10px;
  font-size: 31px;
}
/* open page
.openBox {
  border: 2px solid #4A6FF1;
  border-radius: 20px;
}
/* Enter Meal
.input {
  width: 326px;
  font-size: 30px;
  border: 2px solid #4A6FF1;
  border-radius: 10px;
  text-align: center;
  color: rgb(15, 65, 247);
}
.listBox {
  border: 2px solid #4A6FF1;
  border-radius: 20px;
  height: 350px;
  width: 326px;
}
.listMeals {
  position: relative;
  left: 10px;
  top: 5px;
}
.listMeals span {
  position: relative;
  left: 10px;
  font-size: 25px;
}
.listMeals button {
  position: relative;
  float: right;
  left: -25px;
}
/* Enter Effect
.effectLabel {
  width: 327px;
  font-size: 25px;
  border: 2px solid #4A6FF1;
  border-radius: 10px;
  text-align: center;
}
.effectBox {
  width: 327px;
  height: 350px;
  font-size: 20px;
  border: 2px solid #4A6FF1;
  border-radius: 10px;
  overflow-y: scroll;
  overflow-x: hidden;
}
.effectBox::-webkit-scrollbar {
  background-color: rgba(74, 110, 241, 0.493);
  width: 10px;
  border-radius: 10px;
  margin: 0;
}
.effectBox::-webkit-scroll-track {
  background-clip: content-box;
}
.effectBox::-webkit-scrollbar-thumb:vertical {
  height: 10px;
  background: linear-gradient(180deg, #FFB13B 0%, #FFFFFF 53.69%, #FFB13B 100%);
  border-radius: 10px;
}
.effectBox img {
  height: 25px;
}
/* choose effect
.chooseEffectLabel {
  width: 327px;
  font-size: 25px;
  border: 2px solid #4A6FF1;
  border-radius: 10px;
  text-align: center;
}
.chooseEffectBox {
  width: 327px;
  height: 315px;
  font-size: 32px;
  border: 2px solid #4A6FF1;
  border-radius: 10px;
}
.chooseEffectFaces a {
  position: relative;
  font-size: 50px;
  left: 30px;
}
.chooseEffectFaces img {
  position: relative;
  float: right;
  height: 60px;
  width: 60px;
  right: 80px;
}
.seeIngredients .list-item {
  position: relative;
  top: 10px;
  left: 10px;
  width: 327px;
  height: 130px;
  border: 2px solid #4A6FF1;
  border-radius: 10px;
  overflow-y: scroll;
  overflow-x: hidden;
}
.seeIngredients::-webkit-scrollbar {
  background-color: rgba(74, 110, 241, 0.493);
  width: 10px;
  border-radius: 10px;
  margin: 0;
}
.seeIngredients::-webkit-scroll-track {
  background-clip: content-box;
}
.seeIngredients::-webkit-scrollbar-thumb:vertical {
  height: 10px;
  background: linear-gradient(180deg, #FFB13B 0%, #FFFFFF 53.69%, #FFB13B 100%);
  border-radius: 10px;
}
.seeIngredients li {
  font-size: 20px;
}

/* see today
.chooseList {
  width: 327px;
  font-size: 30px;
  border: 2px solid #4A6FF1;
  border-radius: 10px;
  text-align: center;
}
.seeToday {
  position: relative;
  left: 23px;
  width: 327px;
  font-size: 30px;
  border: 2px solid #4A6FF1;
  border-radius: 10px;
  text-align: center;
}
.seeList {
  width: 327px;
  height: 385px;
  font-size: 30px;
  border: 2px solid #4A6FF1;
  border-radius: 10px;
  text-align: center;
  overflow-y: scroll;
  overflow-x: hidden;
}
.seeList::-webkit-scrollbar {
  background-color: rgba(74, 110, 241, 0.493);
  width: 10px;
  border-radius: 10px;
  margin: 0;
}
.seeList::-webkit-scroll-track {
  background-clip: content-box;
}
.seeList::-webkit-scrollbar-thumb:vertical {
  height: 10px;
  background: linear-gradient(180deg, #FFB13B 0%, #FFFFFF 53.69%, #FFB13B 100%);
  border-radius: 10px;
}
.seeList img {
  position: relative;
  height: 25px;
  width: 25px;
  left: 105px;
}
.seeList p {
  position: relative;
  left: -60px;
}
.seeListButton .buttons {
  background-color: #96abf8;
  width: 152px;
  height: 38px;
  border-radius: 10px;
  font-size: 20px;
  padding: 3px 10px;
  color: #0f41f7;
}
.fda {
  height: 350px;
  overflow-y: scroll;
  overflow-x: hidden;
}
.fda::-webkit-scrollbar {
  background-color: rgba(74, 110, 241, 0.493);
  width: 10px;
  border-radius: 10px;
  margin: 0;
}
.fda::-webkit-scroll-track {
  background-clip: content-box;
}
.fda::-webkit-scrollbar-thumb:vertical {
  height: 10px;
  background: linear-gradient(180deg, #FFB13B 0%, #FFFFFF 53.69%, #FFB13B 100%);
  border-radius: 10px;
}
.fdablank {
  height: 542px;
  width: 326px;
}
.fdablankinvalid {
  height: 518px;
  width: 326px;
}
.ls {
  font-size: 27px;
}
.ingredients {
  height: 148px;
  width: 326px;
  border: 2px solid #4A6FF1;
  border-radius: 10px;
  overflow-y: scroll;
  overflow-x: hidden;
}
.ingredients::-webkit-scrollbar {
  background-color: rgba(74, 110, 241, 0.493);
  width: 10px;
  border-radius: 10px;
  margin: 0;
}
.ingredients::-webkit-scroll-track {
  background-clip: content-box;
}
.ingredients::-webkit-scrollbar-thumb:vertical {
  height: 10px;
  background: linear-gradient(180deg, #FFB13B 0%, #FFFFFF 53.69%, #FFB13B 100%);
  border-radius: 10px;
}
*/
